# Игнорирование специфичных файлов IDE, в данном случае Visual Studio Code
.vscode/

# Игнорируются все файлы и каталоги .DS_Store
.DS_Store

# Игнорируется каталог tmp
tmp/

# Игнорируются все файлы с расширениями .docx, и .txt
*.docx
*.txt

# Игнорируются все файлы и каталоги .zip
.zip